.modalImageCont {
    position: relative;
    width: 100%;
}

.modalImageCont .img{
    width: 100%;
    height: auto;
}

.deleteButton {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-80%, -80%);
    -ms-transform: translate(-80%, -80%);
    border: none;
    cursor: pointer;
    text-align: center;
}

.buttoncont {
    @media (min-width: 600px) {
        opacity: 0;
    }
    
}

.modalImageCont:hover {
    .buttoncont {
        opacity: 1 !important;
    }
}
