<ion-header *ngIf="!isSearchBarOpened">
  <ion-toolbar color="tab1">
    <ion-buttons slot="start">
      <img width="40px" src="assets/img/Logo.png">
      <ion-title>
        Notas
      </ion-title>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button (click)="alternarSearchbar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="alternarModo()">
        <ion-icon *ngIf="!modoLista" name="list"></ion-icon>
        <ion-icon *ngIf="modoLista" name="grid"></ion-icon>
      </ion-button>
      <ion-avatar style="height: 34px; width: 34px;" (click)="onLogout()">
        <img [src]="userImage">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="isSearchBarOpened">
  <ion-toolbar color="tab1">

    <ion-searchbar style="height: 35px !important" animated color="light" (ionInput)="buscarNota($event)"
      showCancelButton="always" (ionCancel)="alternarSearchbar()"></ion-searchbar>


    <ion-buttons slot="end">
      <ion-button (click)="alternarModo()">
        <ion-icon *ngIf="!modoLista" name="list"></ion-icon>
        <ion-icon *ngIf="modoLista" name="grid"></ion-icon>
      </ion-button>
      <ion-avatar style="height: 34px; width: 34px;" (click)="onLogout()">
        <img [src]="userImage">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-grid class="resize">
    <ion-row>
      <ion-col>
        <div *ngIf="!modoLista; else listmode">
          <div class="masonry" *ngIf="datosfiltrados.length > 0;else nocontent">
            <div class="item unselectable" *ngFor="let item of datosfiltrados">
              <ion-card (longPressed)="multipleSelectionMode()" (click)="editarNota(item)">

                <img *ngFor="let foto of item.imagenes" src="{{'data:image/png;base64,'+ foto}}">
                <ion-card-header>
                  <ion-card-title>{{item.titulo}}</ion-card-title>
                </ion-card-header>
                <ion-card-content style="white-space: pre-wrap;">
                  <div class="cardtext">
                    {{item.descripcion}}
                  </div>

                  <div class="cardbuttons">
                    <ion-row style="text-align: center; vertical-align: middle;" nowrap>
                      <ion-col>

                        <ion-icon class="cardbutton" src="assets/icon/alarm-outline.svg">
                        </ion-icon>

                      </ion-col>
                      <ion-col>

                        <ion-icon class="cardbutton" src="assets/icon/person-add-outline.svg">
                        </ion-icon>

                      </ion-col>
                      <ion-col>

                        <ion-icon class="cardbutton" src="assets/icon/color-palette-outline.svg">
                        </ion-icon>

                      </ion-col>
                      <ion-col>

                        <ion-icon class="cardbutton" (click)="addImageToNota(item, $event)"
                          src="assets/icon/image-outline.svg"></ion-icon>

                      </ion-col>
                      <ion-col>

                        <ion-icon class="cardbutton" (click)="openPopover(item, $event)"
                          src="assets/icon/ellipsis-vertical.svg"></ion-icon>

                      </ion-col>
                    </ion-row>

                  </div>


                </ion-card-content>
              </ion-card>
            </div>
          </div>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>




  <ng-template #listmode>
    <ion-list lines="none">
      <ion-item class="unselectable" *ngFor="let item of datosfiltrados">
        <ion-card (longPressed)="multipleSelectionMode()" (click)="editarNota(item)">

          <img *ngFor="let foto of item.imagenes" src="{{'data:image/png;base64,'+ foto}}">
          <ion-card-header>
            <ion-card-title>{{item.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="white-space: pre-wrap;">
            <div class="cardtext">
              {{item.descripcion}}
            </div>

            <div class="cardbuttons">
              <ion-row style="text-align: center; vertical-align: middle;" nowrap>
                <ion-col>

                  <ion-icon class="cardbutton" src="assets/icon/alarm-outline.svg">
                  </ion-icon>

                </ion-col>
                <ion-col>

                  <ion-icon class="cardbutton" src="assets/icon/person-add-outline.svg">
                  </ion-icon>

                </ion-col>
                <ion-col>

                  <ion-icon class="cardbutton" src="assets/icon/color-palette-outline.svg">
                  </ion-icon>

                </ion-col>
                <ion-col>

                  <ion-icon class="cardbutton" (click)="addImageToNota(item, $event)"
                    src="assets/icon/image-outline.svg"></ion-icon>

                </ion-col>
                <ion-col>

                  <ion-icon class="cardbutton" (click)="openPopover(item, $event)"
                    src="assets/icon/ellipsis-vertical.svg"></ion-icon>

                </ion-col>
              </ion-row>

            </div>


          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

  </ng-template>

  <ng-template #nocontent>

    <ion-grid style="height: 100%">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
        <h3 class="unselectable">Nada por aquí...</h3>
      </ion-row>
    </ion-grid>

  </ng-template>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>