
<ion-header>
  <ion-toolbar color="tab1">
    <ion-grid>
      <ion-row>

        <ion-col size="3" class="ion-text-left">
          <img height="40px" src="assets/img/Logo.png" style="margin:auto">
            <ion-title style="height:100%; margin:auto">
              Notas              
            </ion-title>

        </ion-col >

        <ion-col size="6">

          <ion-searchbar animated color="light" (ionInput)="buscarNota($event)"></ion-searchbar>

        </ion-col>

        <ion-col text-right style="margin: auto" size="3">

          <ion-chip outline color="dark" (click)="onLogout()">
            <ion-avatar>
              <img [src]="userImage">
            </ion-avatar>
            <ion-label>Logout</ion-label>
          </ion-chip>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="resize">
    <ion-row>
      <ion-col>
        <div class="masonry" *ngIf="datosfiltrados.length > 0;else nocontent">
          <div class="item unselectable" *ngFor="let item of datosfiltrados">
            <ion-card (longPressed)="multipleSelectionMode()" (click)="editarNota(item.id, item.titulo, item.descripcion)">
              <ion-card-header>
                <ion-card-title>{{item.titulo}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{item.descripcion}}
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- <ion-item *ngFor="let item of datosfiltrados">
      <ion-label>
        <ion-slides [options]="slideOpts">
          <ion-item-sliding>
            <ion-item lines="none">
              <ion-label>
                <h2>{{item.titulo}}</h2>
                <p>{{item.descripcion}}</p>
              </ion-label>
            </ion-item>

            <ion-item-options lines="none" side="start" (ionSwipe)="editarNota(item.id, item.titulo, item.descripcion)">
              <ion-item-option>
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options lines="none" side="end" (ionSwipe)="borraNota(item.id)">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>

            </ion-item-options>
          </ion-item-sliding>
        </ion-slides>
      </ion-label>
    </ion-item> -->
  <ng-template #nocontent>

    <ion-grid style="height: 100%">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
        <h3 class="unselectable">Nada por aquí...</h3>
      </ion-row>
    </ion-grid>

  </ng-template>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>